body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

big {
    font-size: 1.2em;
}

.alert {
    color: #f00;
    font-weight: bold;
}

.prompt-label {
    display: block;
    margin-top: 10px;
}

.prompt-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    margin-top: 5px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #385777;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #2f7286;
}