body{
    background-color: rgb(166, 143, 187);
}
h1{
    padding-left: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 33, 119);
}
p{
    padding-left: 300px;
    padding-top: 55px;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}
.contar{
    color: rgb(46, 14, 77);
    border-radius: 5px;
    box-shadow: 3px black;
}